$backgroundImgUrl: '../img/header_background_v1.jpg';
$font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica,sans-serif;
$headerTextColor: #fff;
$navBorderColor: #607d8b;
$buttonColor: #01acac;
$backgroundColor: #fff;
$articleBackgroundColor: #efefef;
$textColor: #000;
$postDescriptionColor: #f00;
$borderColor: #607d8b;
$color: #0097a7;
